@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f3f0;
  color: #3a312c;
  font-family: "Cormorant Garamond", serif;
  padding: 24px;
}
