.footer .footer-photo-5 {
    position: relative;
}

.footer .footer-photo-5 .footer-points {
    position: absolute;
    left: 30px;
    bottom: -50px;
}

.footer .footer-photo-5 .footer-points-10 {
    position: absolute;
    right: 30px;
    top: -25px;
}

.footer .footer-info {
    display: flex;
    margin: 0 0 90px 0;
}

.footer .footer-info .column .title,
.footer .footer-info .column .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer .footer-info .column.column-1 {
    max-width: 331px;
    margin: 0 60px 0 0;
}

.footer .footer-info .column.column-2 {
    margin: 0 108px 0 0;
}

.footer .footer-info .column.column-3 {
    margin: 0 74px 0 0;
}

.footer .footer-info .column.column-2,
.footer .footer-info .column.column-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .footer-info .column .custom-list .item {
    gap: 12px;
}

.footer .footer-info .column .custom-list .item::before {
    width: 3px;
    height: 3px;
}

.footer .footer-info .column .custom-list a,
.footer .footer-info .column .custom-list a {
    text-decoration: none;
    color: #444444;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer .footer-info .column.column-4 {
    max-width: 361px;
}

.footer .footer-info .column.column-4 .title {
    margin: 0 0 16px 0;
}

.footer .footer-info .column.column-4 .newsletter-text {
    margin: 0 0 36px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgba(68, 68, 68, 1);
}

.footer .footer-info .column.column-4 .newsletter-form {
    position: relative;
}

.footer .footer-info .column.column-4 .newsletter-form  .input {
    padding-right: 30px;
}

.footer .footer-info .column.column-4 .newsletter-form .send-icon {
    position: absolute;
    right: 0;
}

.footer .footer-info .column .logo {
    margin: 0 0 25px 0;
}

.footer .footer-info .column .about-brand {
    padding: 0 0 25px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    margin: 0 0 35px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}


.footer .copyright {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid rgba(68, 68, 68, 20%);
    padding-top: 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.footer .copyright .payment-methods-container {
    display: flex;
    gap: 13px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.footer .copyright .payment-methods-container .payment-methods {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

@media (min-width:769px) and (max-width:1024px) {
    .footer .footer-info {
        margin: 0 10px 90px 10px;
    }

    .footer .footer-info .column.column-1 {
        margin-right: 30px;
    }

    .footer .footer-info .column.column-2 {
        margin-right: 45px;
    }

    .footer .footer-info .column.column-2 {
        margin-right: 45px;
    }
}
