.container-content {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto 199px auto;
    display: flex;
    gap: 110px;
    position: relative;
}

.container-content .container-content-left .content-icons .content-photo {
    position: absolute;
    left: 5px;
    top: 14px;
}

.container-content .container-content-left {
    display: flex;
    flex-direction: column;
    gap: 21px;
    text-align: center;
    align-items: center;
    padding-top: 32px;
    justify-content: center;
}

.container-content .container-content-left .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    color: rgba(0, 0, 0, 1);
}

.container-content .container-content-left .content-item .content-menu-items .menu-item-content .vertical-line {
    border-left: 2px solid rgba(0, 0, 0, 1);
    height: 16px;
}

.container-content .container-content-left .content-item .content-menu-items {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 84px 1px 0;
}

.container-content .container-content-left .content-item .content-menu-items .menu-item-content {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: rgba(0, 0, 0, 1);
}

.container-content .container-content-left .content-item .content-menu-items .menu-item-content.active,
.container-content .container-content-left .content-item .content-menu-items .menu-item-content:hover {
    color: rgba(255, 142, 142, 1);
}

.container-content .container-content-left .content-line {
    width: 850px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    right: 40px;
}

.container-content .container-content-right {
    max-width: 800px;
    width: 100%;
    height: 400px;
    background: rgba(241, 242, 243, 1);
}

.shop {
    display: flex;
    gap: 50px;
}

.shop .sidebar {
    max-width: 244px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.shop .sidebar .search  {
    position: relative;
}

.shop .sidebar .search .search-row {
    padding: 0 25px 15px 0;
}

.shop .sidebar .search .search-icon {
   position: absolute;
   right: 0;
   top: 0;
}

.shop .sidebar .sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.shop .sidebar .sidebar-item .sidebar-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 100%;
    border-bottom: 2px solid #000000;
    padding: 0 0 14px 0;
}

.shop .sidebar .sidebar-item .sidebar-content .custom-list {
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 0 20px;
}


.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
} 

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name {
    color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name::before {
    background-image: url("../assets/icons/check-pink.svg");
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}


.shop .sidebar .sidebar-item .sidebar-content .reviewed-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product {
    display: flex;
    gap: 15px;
    align-items: center;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .image {
    width: 75px;
    height: 85px;
    background: rgba(241, 242, 243, 1) ;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(68, 68, 68, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price {
    gap: 10px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price .current-price {
    font-size: 14px;
    line-height: 14px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price .old-price {
    font-size: 12px;
    line-height: 12px;
}

.shop .products-wrapper {
    max-width: 846px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop .products-wrapper .sort-and-count {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.shop .products-wrapper .sort-and-count .bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}

.shop .products-wrapper .sort-and-count .sort {
    max-width: 262px;
    width: 100%;
}

.shop .products-wrapper .sort-and-count .sort .input {
    color: rgba(0, 0, 0, 1);
}

.shop .products-wrapper .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.shop .products-wrapper .products .product {
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .products-wrapper .products .product .photo {
    height: 360px;
    background: #F1F2F3; /* TODO: убери жесткие величины */
    position: relative;
}

.shop .products-wrapper .products .product .photo .top-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 222px;
    width: 100%;
}

.shop .products-wrapper .products .product .photo .top-bar .labels {
    display: flex;
    gap: 15px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label {
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 5px 10px;
    background: rgba(255, 142, 142, 1);
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label.new {
    background: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .products .product .info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop .products-wrapper .products .product .info .name {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #444444;
}

.shop .products-wrapper .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 198px;
}

.shop .products-wrapper .pagination .pages {
    display: flex;
    gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    height: 25px;
    opacity: 0.5;
    width: 10px;
    text-align: center;
}

.shop .products-wrapper .pagination .pages .page.active {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    opacity: 1;
    width: 22px;
    text-align: center;
}

.newsletter {
    display: flex;
    align-items: flex-start;
    max-width: 1680px;
    width: 100%;
    height: 450px;
    background: rgba(241, 242, 243, 1);
    margin: 0 auto 120px auto;
}

.newsletter .newsletter-points {
    position: absolute;
}

.newsletter .newsletter-points .points {
    position: relative;
    left: 739px;
    top: -33px;
}

.newsletter .newsletter-wrapper {
    max-width: 624px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px;
    margin-left: 275px;
}

.newsletter .newsletter-wrapper .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.newsletter .newsletter-wrapper .info .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(0, 0, 0, 1) ;
}

.newsletter .newsletter-wrapper .info .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
}

.newsletter .newsletter-email {
    display: flex;
    gap: 30px;
}

.newsletter .newsletter-email .input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    color: rgba(68, 68, 68, 50%);
    outline: none;
    padding: 0 0px 15px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.newsletter .newsletter-email .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 136px;
    width: 100%;
    cursor: pointer;
}

.newsletter .newsletter-email .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background: rgba(0, 0, 0, 1);
    padding: 17px 0 17px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.newsletter .newsletter-email .button-wrapper .vertical-line {
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}


.favorites-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


.favorites-btn.active img {
  filter: brightness(0) saturate(100%)
    invert(20%) sepia(95%) saturate(6000%) hue-rotate(330deg);
}

.buy-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.buy-btn:hover {
  color: #ff3b3b;
}

.buy-controls {
    display: flex;
    align-items: center;
    gap: 12px;
}

.count-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    color: #000;
}

.count-btn:hover {
  color: #ff3b3b;
}

.count {
  font-size: 14px;
  min-width: 12px;
  text-align: center;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width:1760px) {
    .container-content {
        gap: 30px;
    }
}

@media screen and (max-width:1680px) {
    .container-content {
        gap: 0;
    }
}

@media screen and (max-width:1650px) {
    .container-content {
        flex-wrap: wrap;
        gap: 110px;
    }

    .container-content .container-content-left .content-icons .content-photo {
        top: -64px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .shop {
        margin: 0 10px;
    }

    .shop .products-wrapper .products {
        justify-content: center;
    }

}

@media screen and (max-width:900px) {
    .newsletter .newsletter-wrapper {
        margin-left: 75px;
    }

    .newsletter .newsletter-points .points {
        left: 540px;
    }
}

@media screen and (max-width:800px) {
    .container-content .container-content-right {
        max-width: 700px;
    }
}
